*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

#general{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid black;
}

#header{
    background-color:rgb(15,118,236);
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
    width: 100%;
}

#menu{
    background-color: #eee;
}

#menu ul li{
    display: block;
    float: left;
    padding:15px;
    border-right: 1px solid #ccc;
}

#menu ul li a{
    color: #444;
    padding: 15px;
}

#menu ul li:hover a{
    color: rgb(15,118,236);
}

.clearfix{
    float: none;
    clear: both;
}

#principal{
    width: 70%;
    float: left;
    box-shadow: 0px 0px 5px black;
    margin: 5px 0px;
} 

#principal h1{
    text-align: center;
    border-bottom: 2px solid #ccc;
    font-size: 25px;
    height: 30px;;
    padding: 10px;
}

.caja{
    width: 350px;
    height: 200px;
    background-color: salmon;
    margin: 15px 30px;
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
    float:left;
    box-shadow: 0px 0px 10px black;
}

.caja:hover{
    background-color: skyblue;
}

#lateral{
    width: 29%;
    min-height: 500px;
    background-color: seagreen;
    float:left;
    margin: 5px 6px; 
    box-shadow: 0px 0px 5px black;
}

#lateral:hover{
    background-color: slategrey;
}

#lateral h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 200px;
}

#footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}