*{
    margin: 0px;
    padding: 0px;
}

/* === Contenedor Principal === */
#container{
    background-color: #ccc;
    width: 80%;
    margin: 0px auto;
}

#cabecera{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: teal;
    line-height: 100px;
}

#barra{
    width: 30%;
    min-height: 400px;
    text-align: center;
    line-height: 400px;
    background-color: royalblue;
    float:left;
}

#contenido{
    width: 70%;
    min-height: 500px;
    background-color: sienna;
    float: left;
}

#contenido article{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    background-color: goldenrod;
    margin: 10px 15px;
    display: inline-block;
}


.clearfix{
    float: none;
    clear: both;
}

#footer{
    background-color: brown;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 35px;
    color: white;
}

/* === RESPONSIVE === */
@media (max-width:375px){
    #cabecera{
        line-height: normal;
        font-size: 20px;
    }

    #barra{
        display: none;
    }

    #contenido{
        width: 100%;
    }
    
    
}



