/* === PUNTO DE CORTE 1250PX === */
@media (max-width:1250px){

    .wrap{
        width: 95%;
        margin: 0px auto;
    }

    #banner h1{
        font-size: 35px;
        text-align: center;
        margin: 30px auto;
    }

    .card{
        width: 18%;
        margin: 0px 1% 0px 1%;
    }

    #cards .card .category{
        font-size: 18px;
    }

    #cards .card .description{
        font-size: 13px;
        margin: 5px;
        text-align: center;
    }

    #articles{
        width: 67%;
    }

    #articles article{
        width: 97%;
    }

    #footer #container{
        width: 90%;
    }

    #footer #container div{
        margin: 40px 15px;
        width: 290px;
    }

    #footer #container h5{
        font-size: 30px;
    }

    #footer #container #tags p{
        margin: 10px 2px;
    }

}

@media (max-width: 768px){
    #banner h1{
        width: 95%;
        font-size: 35px;
        text-align: center;
        margin: 30px auto;
    }

    .card{
        width: 30%;
        margin: 0px 1.8% 25px 1.5%;
    }

}