/* === FONTS === */
@font-face{
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Bebas";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
         url("fonts/websymbols-regular-webfont.woff") format("woff"),
         url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal; 
}

/* === GENERAL STYLES === */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("../img/pattern.png");
}

/* === HEADER === */
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: "Bebas";
    color: white;
}

.wrap{
    width: 1200px;
    margin: 0px auto;
}

/* === LOGO === */
#logo{
    width: 200px;
    height: 50px;
    background-color: #37bcf9;
    float: left;
    margin: 10px 0px;
    overflow: hidden;
}

#logo:hover{
    color: black;
    background-color: #ccc;
}

#logo .gear{
    float:left;
    font-size: 30px;
    line-height: 46px;
    margin-left: 25px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* === KEYFRAME FOR LOGO ROTATION === */
@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);
        transform-origin: center;
    }

    to{
        transform: rotateZ(360deg);
        transform-origin: center;
    }
}


#logo:hover .gear{
    animation-name: fromBelow;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* === KEYFRAMES FOR MOVEMENT GEAR === */
@keyframes fromBelow{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(200%); 
    }

    100%{
        transform: translateY(0%);
    }
}

.gear, .icon{
    font-family: "WebSymbolsRegular"; 
}

#logo h3{
    float: left;
    font-size: 40px;
    line-height: 52px;
    margin-left: 14px;
}

#logo:hover h3{
    animation-name: fromRight;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* === KEYFRAME FOR MOVEMENT H3 LOGO === */
@keyframes fromRight{
    from{
        transform: translateX(300%);
    }

    to{
        transform: translateX(0%);
    }
}

/* === MENU === */
#menu{
    float: right;
    height: 70px;
}

#menu ul{
    height: 70px;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    margin: 21px 20px;
    font-size: 24px;
    height: 28px;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms; 
}

#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2);
}

/* === BANNER STYLES === */
#banner{
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #ccc;
    height: 100px;
    width: 97%;
    overflow: hidden;
    background: url("../img/bakbaner.png");
    background-position: -200px -200px;
    border: 10px solid white;
    animation-name: backBanner;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
}
/* === ANIMATION FOR BANNER === */
@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -200px -200px;
    }
}

#banner h1{
    display: block;
    margin: 25px auto;
    width: 830px;
    font-size: 45px;
    font-family: "Bebas";
    font-weight: normal;
    color:white;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 2px;
    animation-name: showText;
    animation-duration: 10s;
    animation-timing-function: linear;
}

/* === ANIMATION TEXT BANNER === */
@keyframes showText{
    0%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: 2px 2px 1px black;
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(5,5);
        opacity: 1;
    }
    75%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1; 
    }
}

/* === CARDS STYLES === */
#cards{
    width: 98.5%;
    height: 310px;
    padding: 10px 0px;
    box-sizing: border-box;
    margin: 40px 0px;
}

.card{
    width: 205px;
    height: 100%;
    float: left;
    margin: 0px 15px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
}

span.icon{
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 15px 0px;
    height: 100px;
    line-height: 100px;
}

#cards .card h2{
    text-align: center;
    color: #00538c;
    font-family: "TrebuchetMS";
    font-size: 20px;
}

#cards .card p{
    text-align: center;
    padding: 10px;
    margin: 15px;
    color: #00538c;
    font-family: "TrebuchetMS";
}

/* === ASIDE === */
#right-bar{
    width: 300px;
    margin-right: 20px;
    float: right;
    font-family: "TrebuchetMS";
    min-height: 1000px;

}

#right-bar h3{
    display: block;
    width: auto;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    border: 1px solid black;
    background: url("../img/pxgray.png") white;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f;
    margin: 30px 0px;
    font-family: "Bebas";
    font-weight: normal;
    letter-spacing: 2px;
    padding: 0px 10px;
}

#right-bar h3:first-child{
    margin-top: 0px;
}

#right-bar #search{
    width: 90%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc inset;
}

#right-bar #search input[type="text"]{
    width: 85%;
    height: 30px;
    border: none;
    background-color: transparent;
    padding-left: 5px;
    border-radius: 5px;
    color: #555;
}

#right-bar #search input[type="button"]{
    height: 30px;
    width: 11.3%;
    color: #555;
    background-color: transparent;
    cursor: pointer;
    border-left: 1px solid #ccc;
}

.border-button{
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#right-bar #search input[type="text"]:focus{
    color: black;
}

.aside-box{
    border: 0px solid black;
    width: 85%;
    height: 240px;
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),
                0px 3px 7px rgba(0, 0, 0, 0.3),
                0px 1px  white inset,
                0px -3px 3px rgba(0, 0, 0, 0.3) inset;
}

/* === LOGIN STYLES === */
#login input[type="email"], #login input[type="password"]{
    width: 90%;
    height: 30px;
    display: block;
    margin: 0px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    padding: 0px 30px;
    box-sizing: border-box;
    color:#555;
    border-radius: 5px;
}

#login input[type="email"]:focus, #login input[type="password"]:focus{
    box-shadow: 0px 0px 6px grey;
    padding: 0px 30px;
    color: black;
}

#login #user, #login #password{
    position: relative;
    margin: 0px;
    top: 24px;
    left: 20px;
}

#login #password{
    font-size: 20px;
    top: 28px;
}

#login input[type="submit"], #login input[type="reset"]{
    height: 35px;
    width: 100px;
    background-color: rgb(36, 161, 211);
    color: white;
    margin: 10px 10px;
    font-weight: bolder;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    font-family: "TrebuchetMS";
    cursor: pointer;
}

#login input[type="submit"]:hover, #login input[type="reset"]:hover{
    background-color: gainsboro;
    color: black;
}

#login a{
    display: block;
    margin: 0px 15px; 
    font-size: 14px;
    text-decoration: none;
    color: black;
}

#login a:hover, #sponsors ul li a:hover{
    text-decoration: underline;
    color: #0099ff;
}

#login a:first-of-type{
    margin-top: 10px;
}

/* === SOCIAL === */
#social{
    height: 180px;
}

#social .twitter, #social .facebook, #social .youtube{
    font-size: 35px;
    color: black;
    display: block;
    margin: 15px 20px;
}

/* === SPONSORS === */
#sponsors{
    height: 160px;
}

#sponsors ul li{
    margin: 10px 5px;
}

#sponsors ul li a{
    color: black;
    text-decoration: none;
}

#sponsors ul{
    margin: 20px;
    position: relative;
    top: 10px;
    list-style-type: square;
}

/* === ARTICLES === */
#articles{
    width: 71%;
    float: left;
}

#articles h2{ 
    border: 1px solid black;
    text-align: center;
    height: 75px;
    font-family: "Bebas";
    font-size: 40px;
    font-weight: normal;
    line-height: 75px;
    background: url("../img/pxgray.png") white;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f;   
}

#articles article{
    border: 1px solid #ccc;
    height: auto;
    margin: 40px auto;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
}

#articles article h4{
    font-size: 22px;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
}

#articles article h4 a{
    text-decoration: none;
    color: #00538c;
}

#articles article h4 a:hover{
    text-decoration: underline;
    color: #37bcf9;
}

#articles article .data{
    float: right;
    padding: 0px 10px;
    background-color: #555;
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 0px 0px 0px 5px ;
    font-size: 14px;
    letter-spacing: 1px;
}

#articles article p{
    margin: 10px 0px;
    padding: 0px 5px;
    text-align: justify;
}

#articles article p a{
    color: #00538c;
    text-decoration: none;
}

#articles article p a:hover{
    text-decoration: underline;
}

/* === STYLES BUTTON GO TO BLOG === */
#articles #blog{
    background-color: white;
    border: 1px solid #ccc;
    height: 100px;
    display: block;
    text-align: center;
    font-size: 40px;
    color: #00538c;
    font-weight: bold;
    font-family: "Bebas";
    letter-spacing: 3px;
    line-height: 100px;
    text-decoration: none;
}

/* === CLEARFIX === */
.clearfix{
    float:none;
    clear: both;
}

/* === FOOTER === */
#footer{
    margin-top: 35px;
    background-color: black;
    color: white;
    width: 100%;
    min-height: 500px;
}

#footer #container{
    margin: 0px auto;
    width: 90%;
    min-height: 500px;
}

#footer #container div{
    width: 340px;
    height: 340px;
    float: left;
    margin: 40px 30px;
}

#footer h5{
    width: 100%;
    background-color: gray;
    color: black;
    font-family: "Bebas";
    letter-spacing: 2px;
    font-size: 35px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    text-align: center; 
}

/* === Menu Footer === */
#footer #container #menu-footer nav{
    width: 90%;
    margin: 0px auto;
    color: white;
}

#footer #menu-footer ul{
    margin: 0px 15px;
}

#footer #menu-footer nav ul li{
    margin-bottom: 25px;
    font-size: 30px;
    border-bottom: 1px solid white;
}

#footer #menu-footer nav ul li a{
    color: #37bcf9;
    display: block;
    text-decoration: none;
    font-family: "TrebuchetMS";
}

/* === Map === */
#footer #container #map{
    height: 400px;
}

#footer #map iframe{
    width: 100%;
    height: 86%;
}

/* === Tags === */
#footer #container #tags p{
    display: inline-block;
    margin: 10px 5px;
}

#footer #container #tags p:nth-of-type(+n+2) img{
    height: 40px;
}

#footer #container #tags p:nth-of-type(1){
    display: block;
}

#footer #container #tags p:nth-of-type(1) img{
    display: block;
    margin: 0px auto;
}











